:host {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 5px;
  background-color: var(--surface-section);
}

.title {
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
}
