<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<p-sidebar
  [visible]="(sidebarVisible$ | async) || false"
  (visibleChange)="visibleChange($event)"
  #sidebar
  appendTo="body"
>
  <ul>
    <li>
      <p-button class="link-button" label="Startseite" [link]="true" (onClick)="navigateTo('')">
      </p-button>
    </li>
    <li *ngFor="let tag of tags$ | async">
      <p-button
        class="link-button"
        [label]="tag"
        [link]="true"
        (onClick)="navigateToTag(tag)"
      ></p-button>
    </li>
    <li>
      <p-button
        class="link-button"
        label="Impressum"
        [link]="true"
        (onClick)="navigateTo('Impressum')"
      ></p-button>
    </li>
    <li>
      <p-button
        class="link-button"
        label="Datenschutzerkärung"
        [link]="true"
        (onClick)="navigateTo('Datenschutz')"
      ></p-button>
    </li>
  </ul>
</p-sidebar>
