<ng-container *ngIf="product$ | async as product">
  <p-card class="product" [header]="product.name">
    <app-tags [product]="product"></app-tags>

    <div markdown ngPreserveWhitespaces>
      {{ product.description }}
    </div>
    <div class="images">
      <p-image
        class="image"
        *ngFor="let image of product.images; let index = index"
        [src]="image.small"
        (click)="imageClick(index)"
      >
      </p-image>
    </div>
  </p-card>

  <p-galleria
    [value]="product.images"
    [(visible)]="displayCustom"
    [(activeIndex)]="activeIndex"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.large" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>

  <div class="contact">
    <p-button p-button label="Anfragen / Kontakt" (onClick)="contact()"></p-button>
  </div>
</ng-container>
