<ng-container *ngIf="product$ | async as product">
  <p-card class="product" [header]="product.name">
    <p class="tags">
      <p-tag *ngFor="let tag of product.tags" [value]="tag"></p-tag>
    </p>
    <a
      [href]="whatsapp$ | async"
      target="_blank"
      rel="noopener noreferrer"
      class="pi pi-whatsapp share p-button p-button-outlined p-button-success"
      >&nbsp;Mit Whatsapp teilen</a
    >

    <div markdown ngPreserveWhitespaces>
      {{ product.description }}
    </div>
    <div class="images">
      <p-image
        class="image"
        *ngFor="let image of product.images; let index = index"
        [src]="image.small"
        (click)="imageClick(index)"
      >
      </p-image>
    </div>
  </p-card>

  <p-galleria
    [value]="product.images"
    [(visible)]="displayCustom"
    [(activeIndex)]="activeIndex"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.large" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
</ng-container>
