:host {
  padding: 10px;
  display: block;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}

.image {
  cursor: pointer;
}

.contact {
  padding: 20px;
  text-align: center;
}

::ng-deep .product .p-card-content {
  padding: 0;
}
