<div class="mt-2 mb-2">
  <div class="h4">Servus.</div>
  <p class="" style="text-align: justify">
    <em>
      Herzlich willkommen auf Holzwerkskunst.de – meiner Galerie von handgefertigten Bastelarbeiten
      aus Papier und Holz! Erlebe eine Vielfalt von Bildern, die die Schönheit meiner Bastelarbeiten
      einfangen. Von kunstvollen Holzarbeiten bis zu zauberhaften Papierkreationen präsentiert diese
      Seite eine inspirierende Kollektion von schönen Handwerksstücken.
      <br />
      Hast du Fragen oder Anregungen? Kontaktiere mich doch gerne!
      <br
    /></em>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>100% Holz, 0% Plastik.</p>
      </blockquote>
      <figcaption class="blockquote-footer">Holzwerkskunst.de</figcaption>
    </figure>
  </p>
</div>

<hr />

<div class="d-flex flex-wrap gap-5 justify-content-center mt-4">
  {{#each products}}
  {{> preview}}
  {{/each}}
</div>
