<div class="mt-2 mb-2">
  <div class="h4">Servus.</div>
  <p class="" style="text-align: justify">
    <em>
      Herzlich willkommen auf holzwerkskunst.de – Ihrem kreativen Zuhause für einzigartige
      Bastelprodukte aus Papier und Holz!
      <br />
      Entdecke handgefertigte Schätze, die dein Zuhause verschönern. Von detailreichen Holzarbeiten
      bis zu kunstvollen Papierkreationen bieten wir Qualität und Kreativität. Sonderwünsche?
      Kontaktiere mich doch gerne!
      <br
    /></em>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>100% Holz, 0% Plastik.</p>
      </blockquote>
      <figcaption class="blockquote-footer">Holzwerkskunst.de</figcaption>
    </figure>
  </p>
</div>

<hr />

<div class="d-flex flex-wrap gap-5 justify-content-center mt-4">
  {{#each products}}
  {{> preview}}
  {{/each}}
</div>
