<div class="card">
  <div class="card-body">
    <h3 class="card-title">Impressum</h3>
    <p class="card-text">
      <h4>Angaben gem&auml;&szlig; &sect; 5 TMG</h4>
      <p>Matthias Nick<br />
      Lindenstrasse 7a<br />
      84030 Ergolding</p>
      
      <h4>Kontakt</h4>
      <p>Telefon: 01716447548<br />
      E-Mail: mnick86@gmail.com</p>
      
      <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </p>
  </div>
</div>