<p-card [header]="product.name" class="preview">
  <p class="tags">
    <p-tag *ngFor="let tag of product.tags" [value]="tag"></p-tag>
  </p>
  <p-galleria
    [value]="product.images"
    [circular]="true"
    [showItemNavigators]="product.images.length > 1"
    [showThumbnails]="false"
    [containerStyle]="{'max-width': '640px'}"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.small" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
  <ng-template pTemplate="footer">
    <p-button label="Mehr Details" size="small" (click)="details()"></p-button>
  </ng-template>
</p-card>
